RestAssuredSessions/src/test/resources/customer_xmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pagination">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="page" type="xs:unsignedByte" />
              <xs:element name="per_page" type="xs:unsignedByte" />
              <xs:element name="total_records" type="xs:unsignedByte" />
              <xs:element name="total_pages" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customer_records">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="full_name" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>